
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    height: 100%;
    width: 100%;
    background: green;
    position: absolute;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
  }
  
  main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
 
      
  }
  .scrollspy-example {
    position: relative;
    width:75%;
    height: 690px;
    overflow: auto;
  }

  .container-tab{
    height:750px;
    width: 85%;
    
  }