@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 1.75em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.25em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 4.25em;
    margin: 0 0 0.5em;
  }
}

.btnfos {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 5 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btnfos-1 {
  background-color: rgba(0, 0, 255, 0.2);
  font-weight: 100;
  border-radius: 5px;
}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #c393f0;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(122, 122, 122, 0);
  letter-spacing: 2px;
  font-weight: 900;
}
.btnfos-1:hover rect {
  stroke-width: 3;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.botonLogin {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.botonLogin {
  background-color: rgba(0, 0, 255, 0.2);
  font-weight: 100;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.botonLogin svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.botonLogin rect {
  fill: none;
  stroke: #c393f0;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.botonLogin:hover {
  background: rgba(122, 122, 122, 0);
  letter-spacing: 2px;
  font-weight: 900;
  
}
.botonLogin:hover rect {
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


a:hover{
  text-decoration:none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    height: 100%;
    width: 100%;
    background: green;
    position: absolute;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
  }
  
  main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
 
      
  }
  .scrollspy-example {
    position: relative;
    width:75%;
    height: 800px;
    overflow: auto;
  }

  .container-tab{
    height:1000px;
    width: 85%;
    
  }